.welcomeSplashContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 3.5rem;
    height: calc(100vh - 3rem); 
    position: relative; 
    overflow: hidden; 
}

.splashBody {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)); 
    width: 100%;
    height: 100%; 
    position: relative; 
    z-index: 1; 
}

.splashTitle {
    font-family: "Orbitron", system-ui;
    margin-top: 25vh;
    font-size:3rem;
    font-weight: 500;
    color: white;
    opacity: 1; 
    z-index: 2; 
}

.splashText {
    color: white;
    margin-top: 6vh;
    font-family: "Exo 2", sans-serif;
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 1.1px;
    z-index: 2; 
}

.welcomeSplashContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); 
    z-index: 0; 
    pointer-events: none; 
}

.scrollButton {
    margin-top: 16vh;
    padding: 15px 30px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .scrollButton:hover {
    background-color: orange;
    color: #000000;
    font-weight: 500;
    border-radius: 3px;
  }
  