/* src/components/ResourceLocator/resourceLocator.css */

.resource-locator {
    padding: 20px;
    background-color: #d6e9f7;
    color: #0c5460;
    margin: 20px;
    border-radius: 5px;
}

.map-placeholder {
    height: 200px;
    background-color: #ccc;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #0c5460;
}
