
.navigationButtonsContainer {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.navButton {
    margin: 0px 2rem;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
}

.navButton:hover {
    background-color: #0056b3;
}
