/* src/pages/HomePage/homePage.css */
.homePage {
    text-align: center;
    background-color: rgb(184, 184, 184);
}

.navigationButtonsContainer {
    background-color: rgb(35, 35, 35);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.navButton {
    margin: 0px 14px;
    padding: 8px 12px;
    background-color: #2880dd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.navButton:hover {
    background-color: #0056b3;
}

.disasterTypeButtonContainer {
        margin: 1rem 10rem .5rem 10rem;
}

.disasterTypeButtons {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.disasterTypeButtons button {
    margin: 8px 8px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.disasterTypeButtons button.active {
    background-color: #2880dd;
}

.disasterTypeButtons button:hover {
    background-color: #0056b3;
}

