/* src/pages/HomePage/homePage.css */
.homePage {
    text-align: center;
    width: 100%;
    background-image: url('../../../public/images/HomeBackgroundImage.webp'); 
    background-position: center; 
    background-attachment: fixed; 
}

