/* src/pages/HomePage/Components/AlertDashboard/alertDashboard.css */

.alertDashboard {
    padding: 20px;
    margin: 1.5rem;
    background-color: #000000cc; /* Light background to separate from main content */
    text-align: center;
    font-family: "Exo 2", sans-serif;
}

.alertDashboard h2 {
    margin-bottom: 10px;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-family: "Orbitron", system-ui;
    color: rgb(220, 220, 220);
}

.alertDashboard p {
    font-style: italic;
    color: rgb(152, 152, 152); /* Location selection */
    margin-bottom: 20px;
    font-weight: 500;
}

.alertDashboard ul {
    list-style-type: none;
    padding: 0;
    color: rgb(185, 184, 184);

}

.alertDashboard li {
    padding: 10px;
    color: rgb(163, 163, 163);
    border-bottom: 1px solid #ccc;
    font-size: 16px; /* Disaster information */
}

.alertDashboard li strong {
    font-weight: bold;
    color: #e3e3e3; /* Disaster type */
}

.alertDashboard li em {
    font-style: italic;color: rgb(152, 152, 152); /*Disaster location */
    font-weight: 500;
}

.alertDashboard li:last-child {
    border-bottom: none;
}
