/* src/pages/HomePage/Components/DisasterTypeButtons/DisasterTypeButtons.css */
.disasterTypeButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 10rem 0.5rem 10rem;
}

.disasterTypeButtons button {
    margin: 8px 8px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    font-size: 1rem;
}

.disasterTypeButtons button.active {
    background-color: rgb(209, 136, 0);
    color: black;
    font-weight: 500;
}

.disasterTypeButtons button:hover {
    background-color: orange;
    color: black;
    font-weight: 500;
}
